* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f5f5f5;
}

.landing {
    background: url("https://cdn.pixabay.com/photo/2017/02/15/10/39/salad-2068220_1280.jpg") center/cover;
    min-height: 100vh;
    color: white;
}

.hero {

    position: relative;
    text-align: center;
    padding: 50px;
}

.logo {
    color: #ca8a04;
    font-size: 1.5rem;
}

.nav {
    padding: 1rem 2rem;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-links a {
    margin-left: 2rem;
    color: gray;
    text-decoration: none;
    font-weight: bold;

}

.nav-links a:hover {
    color: #ca8a04;

}

.hero-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    gap: 40px;
    color: white;
}

.hero h1 {
    font-size: 4rem;
}

.cta-button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background:#ca8a04;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 200px;
    text-decoration: none;
}

.cta-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(19, 2, 2, 0.4);
}

.auth-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://cdn.pixabay.com/photo/2017/06/06/22/46/mediterranean-cuisine-2378758_1280.jpg") center/cover;
}

.auth-form {
    background: rgb(15, 15, 15);
    opacity: 0.5;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    color: white;
}

.auth-form h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.input-group {
    margin-bottom: 1.5rem;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: white;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 0.8rem;
    border: 2px solid #eee;
    border-radius: 8px;
    transition: border-color 0.3s;
}

.input-group input:focus,
.input-group textarea:focus {
    border-color: #151315;
}

input[type="submit"] {
    width: 100%;
    background-color: #da7f24;
    border: none;
    color: white;
    padding: 1rem;
    border-radius: 30px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



.explore-btn {
    background-color:#ca8a04;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.explore-btn:hover {
    background-color: #ca8a04;
    transform: scale(1.1);
}

.explore-btn:active {
    transform: scale(1);
}